---
import Font from 'astro/components/Font.astro';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "KubeFest 2026 - Infraestructura, Kubernetes e IA en Logroño",
  description = "KubeFest 2026: Conferencia sobre infraestructura, Kubernetes e IA en Logroño"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <!-- Fonts -->
    <Font cssVariable='--font-space-grotesk' preload />

    <!-- Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@400,0&display=swap" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@400,0&display=swap" rel="stylesheet" media="print" onload="this.media='all'" />

    <noscript>
      <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@400,0&display=swap" />
    </noscript>
    
    <!-- Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <script
      type="text/partytown"
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-PNDDQK785Q"
    ></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-PNDDQK785Q', {
        'edition_year': '2026'
      });
    </script>
  </head>
  <body class="bg-background-light dark:bg-background-dark">
    <slot />
  </body>
</html>


